asgiref==3.8.1
bootstrap4==0.1.0
dj-database-url==2.1.0
Django==5.0.4
django-cors-headers==4.3.1
django-seed==0.3.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
Faker==24.9.0
mysqlclient==2.0
pillow==10.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.4.4
toposort==1.10
typing_extensions==4.11.0
tzdata==2024.1
whitenoise==6.6.0
gunicorn==21.2.0
